/* Declaring global CSS variables */
:root { 
    /*Colors*/
    --base:#F0FFFF;
    --header-bg-col:#2f4f4f;
    --header-name-col :#00FFFF;
    /*Borders*/
    --border-left-sd:5px solid var(--header-bg-col);





  }
  html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
  }
  
  body {
    /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  
    /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--header-bg-col);
    /* color: var(--gin);
    background-color: var(--outer-space); */
  }
  


  .header{
    background-color:var(--header-bg-col);
    display: flex;
    flex-direction: row; /* Default*/
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }

  h1{

    color: var(--header-bg-col);
    background-color: var(--header-name-col);
    font-size: 30px;
    padding: 10px 10px 10px 40px;
    margin-left: -22px;

  }

.header a {
    color:var(--header-name-col);
    padding: 20px;
    text-decoration: none;
    border-bottom: 1px solid var(--header-name-col);
    padding-bottom: 8px;

  }

  .Contact a {
    color:var(--header-bg-col);
    padding: 20px;
    text-decoration: none;
    border-bottom: 1px solid var(--header-bg-col);
    padding-bottom: 8px;
    font-size: 15px;
    margin: 10px;

  }
  .Work .content{

 
  }
    /************************** Cover image ******************************/

#cover-img{
      /* background-color: red;
  color: white;
/*  */
   background-image: url(../images/cover.jpg);
   background-position: center;
   background-size: cover;
   height: 30vh;
   background-attachment: fixed; 
        /*Turn this section to flexbox */


        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        align-items: flex-end;

   /* display: flex;
   flex-wrap: wrap;
   align-items: flex-end;
   flex-direction: column-reverse; */ 
 
   /* background-color: red; */
   /* color: white;
   height: 320px;
   display: flex;
   flex-direction: row-reverse;
   flex-wrap: wrap;
   align-items: flex-end; */
}
#subtitle{
    margin: 10px 30px;
}
  
    /******************************* main *******************************************/

    .rows{

      display: flex;
      justify-content: center;
      /* flex: 2 0 50px; */
      padding: 50px;
      /* align-items: flex-start;
      max-width: 90%; */

    }
    .About-me{

    }


    .rows h2{
      font-size: 40px;
      color: var(--header-bg-col);
      margin-right: 25px;


    }

    .rows .content {
      border-left: 5px solid var(--header-bg-col);
      /* width: 50%; */
      padding-left: 25px;
    }

    .content{

      max-width: 50%;
      font-size: 15px;
    }



    .Work{

      /* display: flex; */

    }


/* .boxes:nth-of-type(1) {
  /* flex-grow: 50; 

  border-style: solid;
  border-width: 1px;
  padding: 10px;
  width: 100px; height: 100px;
} */
    
.boxes {
  /* flex-grow: 25; */
  background: url("../images/python.jpg") no-repeat;


  border-style: solid;
  border-width: 1px;
  padding: 10px;

}
    


   



 

    /**********************************************************************************/


/*************************Psudo*****************************/
a:link, a:visited {


  }
  
  .header a:hover{
    color: var(--header-bg-col);
    /* background-color: var(--header-name-col); */ 
    transition: all 0.5s ease;

    background: linear-gradient(to left, var(--header-name-col) 50%, var(--header-bg-col) 50%) right;
    background-size: 200%;
    
    /* transition: .5s ease-out; */
    /* background-position: left; */

  }

  .Contact nav{
          
    display: flex; /* used in this case to leave the links in row level and not change to colum*/
    /* justify-content: center; */
    flex-wrap: wrap;

  
      }

  .Contact a:hover{
    color: var(--header-name-col);
    /* background-color: var(--header-name-col); */ 
    transition: all 0.5s ease;

    background: linear-gradient(to left, var(--header-bg-col) 50%, var(--header-name-col) 50%) right;
    background-size: 200%;
    
    /* transition: .5s ease-out; */
    /* background-position: left; */

  }




  /* Media Query Code */

  @media screen and (max-width: 964px) {


    .header {
        padding: 0;
        flex-direction: column;
        text-align:  center;
        align-items: unset;
        }


    .header nav{
        background-color: var(--header-bg-col);
        display: flex; /* used in this case to leave the links in row level and not change to colum*/
        justify-content: center;
         /*center links as items*/

          }

    #cover-img{

        justify-content: center;
        align-items: center;

    }
                     /**********************************  Main **************************************/
    

    .rows{

      flex-direction: column;
    }
    .rows > h2 {

      border-bottom: 5px solid var(--header-bg-col);

      width: 100%;
              
                  }

    .rows> .content {

          border-left: none;
          width: 100%;
          padding-left: 0;
          padding-top: 25px;
                            
                  }
      .Contact nav{
          
          flex-direction: column;
          
                  
                      }

        .content{
          max-width: none;
        }
      
        }



        
              
          