/* Declaring global CSS variables */
:root { 
    /*Colors*/
    --base:#F0FFFF;
    --header-bg-col:#2f4f4f;
    --header-name-col :#00FFFF;
    /*Borders*/
    --border-left-sd:5px solid var(--header-bg-col);





  }
  html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
  }
  
  body {
    /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
    font-family: 'revert',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  
    /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--header-bg-col);

  }
  


  .header,footer{
    background-color:var(--header-bg-col);
    display: flex;
    flex-direction: row; /* Default*/
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }

  h1{

    color: var(--header-bg-col);
    background-color: var(--header-name-col);
    font-size: 30px;
    padding: 10px 10px 10px 40px;
    margin-left: -22px;

  }

  .header a {
    color:var(--header-name-col);
    padding: 20px;
    text-decoration: none;
    box-shadow:0 5px 3px -3px  var(--header-name-col);

  }

 

  .header a:hover{
    color: var(--header-bg-col);
    transition: all 0.5s ease;

    background: linear-gradient(to left, var(--header-name-col) 50%, var(--header-bg-col) 50%) right;
    background-size: 200%;
    cursor: grab;

  }
    /************************** Cover image ******************************/

  #cover-img{

   background-image: url(../images/cover.png);
   background-position: center;
   background-size: cover;
   height: 30vh;
   background-attachment: fixed; 
        /*Turn this section to flexbox */


        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        align-items: flex-end;

  }
   
  #subtitle{
    margin: 10px 30px;
  }
  
 

    

  #Up-icon img{

    width: 50px;
    position:fixed;
    bottom: 0px;
    right: 0px;
}
  

/********************************************** Media Query Code  ************************************/


/* mobile interface */
  @media screen and (max-width: 964px) {  


  .header {

    padding: 0;
    flex-direction: column;
    text-align:  center;
    align-items: unset;

  }


  .header nav{

    background-color: var(--header-bg-col);
    display: flex; /* used in this case to leave the links in row level and not change to colum*/
    justify-content: center;
    margin-bottom: 15px;

    }

  #cover-img{

    justify-content: center;
    align-items: center;

    }
                    
    

  .rows{

    flex-direction: column;

    }

  .rows > h2 {

      border-bottom: 5px solid var(--header-bg-col);
      width: 100%;
      text-align:unset;
              
    }

  }

   /**********************************  Main **************************************/


      /**********************************  Sections **************************************/

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f6f7;
}

.section-title {
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--header-bg-col);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--header-name-col);
  bottom: 0;
  left: 0;
}


  /**********************************  AboutMe **************************************/

.AboutMe {
  background: #fff;
}
.AboutMe .presentation {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}
.AboutMe .presentation:hover{
  box-shadow: 0px 2px 15px var(--header-name-col)
}
.AboutMe .presentation p{
  margin: 10px 0 0 0;
  font-size: 14px;
}

.ri-check-double-line:before{

  color: var(--header-name-col);
}

  /**********************************  work **************************************/

.work {
  background: #fff;
}
.work .project{
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  background-color: ghostwhite;
}

.work .project .pic{
    overflow: hidden;
    /* border-radius: 50%; */
    margin: 0 auto 20px auto;
}

.work .project .pic:hover{
  box-shadow: 0px 2px 15px var(--header-name-col);
}
.work .project .pic img {
  transition: ease-in-out 0.3s;
}
.work .project:hover img{
  transform: scale(1.1);
}
.work .project h4{
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: var(--header-bg-col);
}
.work .project span{
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
  color: purple;
}

.work .project p{
  margin: 10px 0 0 0;
  font-size: 14px;
}
.work .project .Links{
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work .project .Links a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background-color: var(--header-bg-col);
}
.work .project .Links a i {
  color: var(--header-name-col);
  /* background-color: var(--header-bg-col); */
  font-size: 16px;
  margin: 0 2px;
}
.work .project .Links a:hover {
  background: var(--header-bg-col);
  box-shadow: 0px 2px 15px var(--header-name-col);
}
 a{
  text-decoration: none
}

.work .project .Links a + a{
  margin-left: 8px;
}
  /**********************************  Contact **************************************/

.contact .info {
  padding: 30px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}
.contact .info i {
  font-size: 20px;
  float: left;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  color: var(--header-name-col);
  background-color: var(--header-bg-col);

}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--header-bg-col);
  margin-left:-23px
}



  /**********************************  Footer  **************************************/
          
.footer  {
  justify-content: center;
  align-items: end;
  padding: 0;
}

.footer p {
  color: var(--header-name-col);
}