/* Declaring global CSS variables */
:root { 
    /*Colors*/
    --base:#F0FFFF;
    --header-bg-col:#2f4f4f;
    --header-name-col :#00FFFF;
    /*Borders*/
    --border-left-sd:5px solid var(--header-bg-col);





  }


  .header{
    background-color:var(--header-bg-col);
    display: flex;
    flex-direction: row; /* Default*/
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }

  h1{

    color: var(--header-bg-col);
    background-color: var(--header-name-col);
    font-size: 30px;
    padding: 10px 10px 10px 40px;
    margin-left: -22px;

  }

 a {
    color:var(--header-name-col);
    padding: 20px;
    text-decoration: none;
    border-bottom: 1px solid var(--header-name-col);
    padding-bottom: 8px;

  }
    /************************** Cover image ******************************/

#cover-img{
      /* background-color: red;
  color: white;
/*  */
   background-image: url(../images/cover.jpg);
   background-position: center;
   background-size: cover;
   height: 30vh;
   background-attachment: fixed; 
        /*Turn this section to flexbox */


        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        align-items: flex-end;

   /* display: flex;
   flex-wrap: wrap;
   align-items: flex-end;
   flex-direction: column-reverse; */ 
 
   /* background-color: red; */
   /* color: white;
   height: 320px;
   display: flex;
   flex-direction: row-reverse;
   flex-wrap: wrap;
   align-items: flex-end; */
}
#subtitle{
    margin: 10px 30px;
}
  
    /******************************* main *******************************************/

    .About-me{
      display: flex;
      justify-content: center;
      /* flex: 2 0 50px; */
      padding: 50px;
      align-items: flex-start;
    }


    .About-me h2{
      font-size: 25px;
      color: var(--header-bg-col);


    }

    .About-me p {
      border-left: 5px solid var(--header-bg-col);
      width: 50%;
    }




 

    /**********************************************************************************/


/*************************Psudo*****************************/
a:link, a:visited {


  }
  
  a:hover{
    color: var(--header-bg-col);
    /* background-color: var(--header-name-col); */ 
    transition: all 0.5s ease;

    background: linear-gradient(to left, var(--header-name-col) 50%, var(--header-bg-col) 50%) right;
    background-size: 200%;
    
    transition: .5s ease-out;
    /* background-position: left; */

  }


  /* Media Query Code */

  @media screen and (max-width: 964px) {


    .header {
        padding: 0;
        flex-direction: column;
        text-align:  center;
        align-items: unset;
        }


    nav{
        background-color: var(--header-bg-col);
        display: flex; /* used in this case to leave the links in row level and not change to colum*/
        justify-content: center;
         /*center links as items*/

          }

    #cover-img{

        justify-content: center;
        align-items: center;

    }
                     /**********************************  Main **************************************/
    

    .About-me{

      flex-direction: column;
    }
    .About-me > h2 {

      border-bottom: 5px solid var(--header-bg-col);

      width: 100%;
              
                  }

    .About-me > p {

          border-left: none;
          width: 100%;
                            
                  }
      
        }

     
              
              